docker {
    enabled = false
}

singularity {
    enabled = false
    autoMounts = true
}

profiles {
    // The default profile used when no -profile is specified
    standard {
        docker.enabled = true
        singularity.enabled = false
        process {
            container = 'hub.ncsa.illinois.edu/farmdoc/l2c-example-1:amd64'
            executor = 'local'
        }
    }

    // SLURM profile
    slurm_ccluster {
        docker.enabled = false
        singularity.enabled = true
        process {
            executor = 'slurm'
            container = 'docker://hub.ncsa.illinois.edu/farmdoc/l2c-example-1:amd64'
            clusterOptions = '--account=ncsa-ic --partition=IllinoisComputes --nodes=1'
        }
    }
    // todo - update account when system is online
    slurm_delta {
        docker.enabled = false
        singularity.enabled = true
        process {
            executor = 'slurm'
            container = 'docker://hub.ncsa.illinois.edu/farmdoc/l2c-example-1:amd64'
            clusterOptions = '--account=bccu-delta-cpu --partition=cpu --nodes=1'
        }
    }
    // todo - update account when system is online
    slurm_delta_ai {
        docker.enabled = false
        singularity.enabled = true
        process {
            executor = 'slurm'
            container = 'docker://hub.ncsa.illinois.edu/farmdoc/l2c-example-1:arm64'
            clusterOptions = '--account= --partition= --nodes=1'
        }
    }
}