docker {
    enabled = false
}

singularity {
    enabled = false
    autoMounts = true
}

profiles {
    // The default profile used when no -profile is specified
    standard {
        docker.enabled = true
        singularity.enabled = false
        process {
            container = 'hub.ncsa.illinois.edu/farmdoc/l2c-example-1:amd64'
            executor = 'local'
        }
    }

    // SLURM profile
    slurm {
        docker.enabled = false
        singularity.enabled = true
        process {
            executor = 'slurm'
            container = 'docker://hub.ncsa.illinois.edu/farmdoc/l2c-example-1:amd64'
            clusterOptions = '--account=some-account --partition=some-partition --nodes=1'
        }
    }
}
