singularity {
    enabled = true
    autoMounts = true
}

profiles {
    // The default profile used when no -profile is specified
    standard {
        process {
            executor = 'local'
        }
    }

    // SLURM profile
    slurm {
        process {
            executor = 'slurm'
            clusterOptions = '--account=some-account --partition=some-partition --nodes=1'
        }
    }
}
